body {
    font-family: var(--font-poppins), serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}
html, body {
    overflow-x: hidden;
}
main {
    width: 100%;
    padding-top: 70px;
}

// @import "scss/common";
// @import "scss/icons";
// @import "scss/form";